.dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 1;
}

.dropdown div {
    padding: 8px;
    cursor: pointer;
}

.dropdown div:hover {
    background-color: #f0f0f0;
}

.add {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}
.button {
    background-color: #58bc82;
}
.button:hover {
    background-color: #316346;
}