.graph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 800px;
}

.data {
    display: flex;
    flex-direction: row;
}